@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }

    .product-detail {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
  
}

@media only screen and (max-width: 768px) {
    /* Responsive layout for product-detail */
    .product-container {
      width: 100%;
    }
  
    /* Responsive layout for rental-table */
    .rent-info {
      overflow-x: auto;
    }
  
    .rental-table {
      width: 100%;
    }
  
    /* Responsive layout for agreements container */
    .agreements {
      width: 100%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    
      /* Responsive layout for the social-media and contact-info sections */
      .social-media,
      .contact-info {
        margin-top: 20px;
      }
    
      .social-media ul,
      .contact-info {
        margin: 10px;
      }
    
      /* Reset margin for the last li in social-media */
      .social-media ul li:last-child {
        margin-right: 0;
      }
  }
