@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sofia+Sans:ital,wght@0,400;1,300&display=swap");

:root {
  /* colors */
  --primary-color: #2f4858;
  --secondary-color: #33658a;
  --accent1-color: #f26419;
  --accent2-color: #55dde0;

  /* fonts*/
  --heading-font: "Bebas Neue";
  --paragraph-font: "Sofia Sans";
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--primary-color);
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

container-navbar {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-link {
  transition: 0.3s ease-out;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: var(--accent1-color);
  background-color: var(--accent2-color);
  padding: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  --webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

body {
  background: #fff;

  font-family: "Roboto", sans-serif;
}



footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

/*MAIN SECTION*/

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin: 20px;
  }
  
  .gallery-item {
	position: relative;
	overflow: hidden;
	width: 100%; /* Added this */
	aspect-ratio: 1/1; /* Added this to maintain aspect ratio */
  }
  
  .gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Added this to make sure the image covers the entire container */
	border-radius: 5px;
  }
  
  .gallery-item img:hover {
	transform: scale(1.05);
  }
  
  .gallery-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.3s ease;
  }
  
  .gallery-item:hover:before {
	opacity: 1;
  }
  
  .gallery-item:before {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
  }
  
