@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sofia+Sans:ital,wght@0,400;1,300&display=swap");

:root {
  /* colors */
  --primary-color: #2f4858;
  --secondary-color: #33658a;
  --accent1-color: #f26419;
  --accent2-color: #55dde0;

  /* fonts*/
  --heading-font: "Bebas Neue";
  --paragraph-font: "Sofia Sans";
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--primary-color);
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

container-navbar {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-link {
  transition: 0.3s ease-out;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: var(--accent1-color);
  background-color: var(--accent2-color);
  padding: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  --webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

body {
  background: #fff;

  font-family: "Roboto", sans-serif;
}

h2 {
  color: var(--accent1-color);
}

#mode {
  background-color: black;
}

.current-container {
  width: 100%;
  background-color: var(--accent1-color);
}

.events-now {
  color: var(--primary-color);
  margin-top: 25px;
  text-align: center;
  font-size: 2.5rem;
}

.hero-image{
	position: relative;
	height: 800px;
	overflow: hidden;
	background: url("../images/hero-image.webp") no-repeat center;
	background-size: cover;
	}


.hero-image {
  max-width: 100%;
  position: relative;
}

picture img {
  width: 100%;
}

.hero-large {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 2px solid gray;
  padding: 0.5rem;
  box-shadow: 0 0 5px;
}

.hero-large {
  margin: 0;
  padding: 0.25rem;
  font-weight: 700;
  font-size: 5rem;
  color: white;
}

.hero-small {
  display: none;
}

.hero-medium {
  display: none;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  overflow: hidden;
  color: var(--accent1-color);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 800;
  z-index: 1;
}

.events-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  gap: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.current-events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.card .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  color: var(--accent1-color);
}

.banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner ul {
  list-style: none;
}

.banner ul li {
  margin: 15px;
  font-weight: bold;
}

.banner .boton {
  background: #ffd600;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.weather {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.weather h4 {
  font-size: 24px;
}

.company-spotlights {
  background-color: #555;
  color: #fff;
  padding: 20px;
}

.company-spotlights h4 {
  font-size: 24px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

/* FORECAST SECTION */
#forecast{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1rem auto;
  border: 1px solid #fff;
}

.forecast-item{
text-align: center;
border-right: 1px solid #fff;
font-family: 'Sofia Sans', sans-serif;	
}

.forecast-item p::first-letter{
text-transform: capitalize;
}

.forecast-item h3, p, span{
margin-top: 5px;

}

.forecast-item img{
margin-top: 5px;
max-width: 100%;

}

.forecast-item h3{
background-color: var(--accent1-color);
padding: 15px;
font-size: 25px;
font-family: "Sofia Sans", sans-serif;

}

.forecast-item p, span{
font-size: 25px;
font-family: "Sofia Sans", sans-serif;

}

.weather h3{
  text-align: center;
  font-family: "Sofia Sans";
  letter-spacing: 2px;
  font-size: 25px;
}
/*CURRENT WEATHER IN THE HERO IMAGE*/
.weatherCard{
  position: relative;
  max-width: 200px;
  margin-left: 10px;
  border-radius: 5px;
}


.weatherCard{
  text-align: center;
  background-color: #598392;
}

figcaption::first-letter{
  text-transform: uppercase;
}

figcaption{
  font-size: 1.4rem;
}