@media screen and (min-width: 576px) and (max-width: 768px) {
    /* Add your styles for medium viewports here */

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    /*HERO SECTION WITH RESPONSIVE IMAGES*/
    .hero-image .hero-medium{
        display:block;
    }
    
    .hero-image{
        max-width: 100%;
        position: relative;
    }
    
    picture img{
        width: 100%;
    }

    .hero-image .hero-medium{
        position: absolute;
        top: 15px;
        left: 15px;
        border: 1px solid gray;
        padding: 0.2rem;
        box-shadow: 0 0 5px;
        opacity: 0.75;
    }
    
    .hero-medium{
        display: block;
        margin: 0;
        padding: .15rem;
        font-weight: 700;
        font-size: 3rem;
        color: black;
    }

    .hero-image .hero-large{
        display: none;  
    }
}
