@media screen and (max-width: 576px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .hero-large {
    display: none;
  }

  .hero-small {
    display: block;
  }

  .hero-image {
    max-width: 100%;
    position: relative;
  }

  picture img {
    width: 100%;
  }

  .hero-small {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 2px solid gray;
    padding: 0.5rem;
    box-shadow: 0 0 5px;
  }

  .hero-small {
    margin: 0;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 5rem;
    color: gray;
  }

  .events-container {
    grid-template-columns: 1fr; /* Display in one column */
    gap: 10px; /* Adjust the gap as needed */
  }

  .current-events {
    grid-template-columns: 1fr; /* Display current events in one column */
  }

  .card {
    width: 100%; /* Make each card take full width */
  }

  .weather {
    padding: 10px; /* Adjust padding as needed */
  }

  .weather h3 {
    font-size: 20px; /* Adjust font size as needed */
  }

  #forecast {
    grid-template-columns: repeat(1, 1fr); /* Display forecast in one column */
    gap: 10px; /* Adjust the gap as needed */
  }

  .forecast-item {
    border-right: none; /* Remove right border for each forecast item */
  }

  .forecast-item h3 {
    font-size: 18px; /* Adjust font size as needed */
  }

  .forecast-item p,
  .forecast-item span {
    font-size: 16px; /* Adjust font size as needed */
  }

  
}
