@media (min-width: 60em) {
  header div button {
    display: none;
  }

  header div a {
    margin: 1.5rem;
  }

  header .social a {
    margin: auto;
  }

  nav ul#primaryNav {
    display: flex;
    justify-content: flex-start;
  }

  nav ul li a {
    border: none;
  }

  nav ul li a {
    padding: 0.5rem 1rem;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .directory-grid section {
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
  }

  .directory-grid img {
    padding: 0px;
    display: block;
    margin: 5px auto;
    width: 50px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 5px;
  }

  .panelview {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .panelview img {
    padding: 0px;
    display: block;
    margin: 5px auto;
    width: 100px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 5px;
  }

  .footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-content: center;
  }
  
  .own-info{
    grid-column: 1/2;
  }
  
  .social-media{
    grid-column: 2/3;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-media ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media i {
   font-size: 2rem;
  }
  
  .social-media li{
    margin-top: 15px;
  }
  
  .contact-info{
    grid-column: 3/4;
    margin: 5px 0;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
}