@media (max-width: 710px) {
    /* Small View */

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .form-container,
    .membership-benefits {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Full width on small view */
    }

    .membership-benefits {
        margin-top: 20px;
        /* Add some space between form and benefits */
        height: auto;
        /* Remove fixed height */
        position: relative;
        /* Remove absolute positioning */
        right: 0;
        top: 0;
        box-shadow: none;
        /* Remove shadow */
    }
}