:root {
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
    --primary-color: blue;
    --secondary-color: gray;
    --border-radius: 5px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
  }
  
  form {
    margin: 0 auto;
    padding: 20px;
  }
  
  label,
  input,
  button {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: var(--border-radius);
  }
  
  button {
      padding: 1rem;
      font-size: 20px;
      width: 200px;
      
  }
  
  label {
    padding-top: 1rem;
  }
  
  input:focus {
    outline: none;
    border: 2px solid blue;
  }
  
  input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 2px solid green;
  }
  
  input:disabled {
    opacity: 0.5;
  }
  
  input:hover {
    background-color: lightgray;
  }
  
  input:nth-child(even) {
    background-color: lightgray;
  }
  
  input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
  }
  
  input[type="reset"] {
    background-color: var(--secondary-color);
    color: white;
  }
  
  .info {
    padding: 1rem;
  }
  
  fieldset {
    padding: 1rem;
    border: 1px solid black;
  }
  
  fieldset label {
    margin-bottom: -2px;
  }
  